.App {
  padding: 0 1rem;
}

.App-form-section {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .App {
    padding: 0 8%;
  }
}

@media (min-width: 800px) {
  .App {
    padding: 0 16%;
  }
}
