.Form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f5fbfc;
  width: 100%;
}

.Form-title {
  margin: 0 0 1rem;
}

.Form-label {
  margin: 0;
}

.Form-field {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0 1rem;
  background-color: #fff;
  border: solid 1px #fcbab0;
  font: inherit;
  transition: border-color 0.2s ease-in;
}
.Form-field:hover,
.Form-field:active,
.Form-field:focus {
  border-color: #013a51;
}

.Form-field-comment {
  min-height: 6rem;
  max-width: 100%;
}

.Form-submit {
  display: block;
  padding: 0.75rem 1rem;
  background-color: #013a51;
  color: #00e59e;
  border: 0;
  border-radius: 2rem;
  font: inherit;
  width: 12rem;
  margin: 0 auto;
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}
.Form-submit:hover,
.Form-submit:active,
.Form-submit:focus {
  color: #013a51;
  background-color: #00e59e;
}

@media (min-width: 800px) {
  .Form {
    width: 50%;
  }
}
